dill==0.3.5.1
dnspython==2.2.1
fastapi==0.78.0
httptools==0.5.0
imblearn==0.0
mypy-boto3-s3==1.24.76
pip-chill==1.0.1
pymongo==4.2.0
python-dotenv==0.21.0
types-s3transfer==0.6.0.post4
uvicorn==0.18.3
watchfiles==0.17.0
websockets==10.3
wincertstore==0.2
xgboost==1.6.2
pandas
PyYAML
numpy
scikit-learn
apache-airflow
-e .

##### to install any librery write it in requirement.txt and write in terminal 
##### pip install -r requirements.txt
#### to see any other github repo link with your vs code
#### (git remote -v)
### for remove the execting origin repo (for conecting github repo with vs code)
### code is git remote remove origin
## for adding new repo with this vs code
## git remote add origin (github link)

### for pushing vscode to github repo [git push origin main (origin is variable of new github link and main is file name)]
 ## for delete all the comiit [git reset --soft{in soft all head is remove but code not deleted}]
 ## in hard reset all the data is deleted
## here we do soft reset [ git reset --soft 6afd]
## git add .
### git status (see all the file which is mpodified and execting)

## befor commiting new version of code after doing all testing and all
### [git config --global user.email rakesh.sahoo15@gmail.com, ]
# [git config --global user.name RakeshSahoo20]
# [git commit -m "this is our first version of code"]

### for a new folder added to github repo after commiting github repo
## [1st creat a new folder and add data/code to this folder, git add . , git commit -m "added a new file",
# git push origin main]

## one change code in readme file [first we do changes in file , then see git status , gid add readme.md, then check git status, git commit -m "changes massge"]



